# Nuxt dev/build outputs
.output
.data
.nuxt/
.cache/
.certs/
dist/
framework
nuxt.d.ts

# Node dependencies
node_modules/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea/
.stylelintcache

# Local env files
.env
.env.production
.env.backup
!.env.example
